<div class="large-6 large-centered columns">
  <div class="panel options">
    <div class="options-form">
      <div class="row">
        <!-- <div class="panel"> -->
          <div class="button expand">
            <h1><%= link_to 'Friends', logout_path %></h1>
          <!-- </div> -->
        </div>
      </div>
      <div class="row">
        <!-- <div class="panel"> -->
          <div class="button expand">
            <h1><%= link_to 'Profile', logout_path %></h1>
          </div>
        <!-- </div> -->
      </div>
      <div class="row">
        <!-- <div class="panel"> -->
          <div class="button expand">
            <h1><%= link_to 'Logout', logout_path %></h1>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
