/*= require foundation */

  body {
    background-image: asset-url('/eom-background4.jpg');
  }

  .large-4 {
    margin-top: 200px;
  }

  .large-6.large-centered.columns {
    height: 60%;
    width: 60%;
    min-width: 400px;
  }

  .panel.map {
    height: 400px;;
    width: 100%;
  }

  .container {
    height: 100%;
  }

  .dropnav {
    float: right;
    margin-top: 40px;
    margin-right: 65px;
  }

  .dropnav:hover {
    opacity: 0.7;
  }

  .icon {
    margin-top: 35px;
    margin-left: 65px;
  }

  .icon:hover {
    opacity: 0.7;
  }

  .case-inner {
    opacity: 0.94;
    background-color: #F7F7F7;
    margin-top: 400px;
    height: 100%;
    width: 100%;
  }

  .panel {
    opacity: 0.94;
  }

  ::-webkit-input-placeholder {
    font-family: 'Raleway', sans-serif;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-family: 'Raleway', sans-serif;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Raleway', sans-serif;
  }

  :-ms-input-placeholder {
    font-family: 'Raleway', sans-serif;
  }


  p {
    font-family: 'Raleway', sans-serif;
    color: #F6EFEE;
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    color: #F6EFEE;
  }

  h3 {
    font-family: 'Raleway', sans-serif;
    color: #F6EFEE;
  }

  h6 {
    font-family: 'Raleway', sans-serif;
    color: #F6EFEE;
  }

  .button {
    font-family: 'Raleway', sans-serif;
  }

  .button.expand.secondary {
    opacity: 1;
  }

  .options-form {
    margin-top: 100px;
  }

  .map.form {
    margin-top: 25px;
  }

  a {
    font-family: 'Raleway', sans-serif;
  }

  //****************************************//
  //             MOBILE SETTINGS            //
  //****************************************//

  @media only screen and (max-device-width: 480px) {

    .panel.map {
      height: 400px;
      width: 400px;
    }

    .large-4 {
      margin-top: 50px;
    }

    .options-form {
      margin-top: 50px;
    }

  }
